body{
    font-family:Arial;
}
.container {
    background-color: lightblue;
    width: 600px;
    padding: 30px;
    margin: 40px;
    border: 2px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
}
h1{
    background-color: #1900ff;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 3px dotted #1900ff;
    padding-bottom: 10px;
}
p{
    margin: 0 0 20px 0;
    line-height: 1.6;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 25PX;
    border: 2px solid green;
}
.p2{
    background-color: #2f0eea;
}

.highlight{
    margin: 15px 0;
    padding: 15px;
    border: 2px dashed #ff0000;
    background-color: #ffc8c8;
    font-weight: bold;
    border-radius: 10px;
}
h3{
    background-color: #ff0000;
    padding: 2px;
}

    